Write a Python program to multiplies all the items in a list.

for example list=[2, 3, 6]

result = 36

In [ ]:
#Question
list1=[2,3,6]
R=1
for i in (list1):
  R*=i
print(R)

36

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use sort function

In [ ]:
#Question2
list1=[(2,5,6),(1,2,3),(4,4,4),(2,3,5),(2,1,2)]
list1.sort(key=lambda :[-2])
print(list1)

[(2, 1, 2), (1, 2, 3), (2, 3, 5), (4, 4, 4), (2, 5, 6)]

Write a Python program to combine two dictionary adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Expected output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
D1={"a":100,"b":200,"c":300}
D2={"a":300,"b":200,"c":400}
D={}
for i in D1.keys():
  for i in D2.keys():
      D[i]=D1[i]+D2[i]
print(D)

{'a': 400, 'b': 400, 'c': 700}

In [ ]:
from collections import*
D3=Counter(D1)+Counter(D2)
print(D3)

Counter({'c': 700, 'a': 400, 'b': 400})

In [ ]:
print(Counter(D1))

Counter({'c': 300, 'b': 200, 'a': 100})

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [70]:
#question 4
N=int(input("donner un entier:"))
D={i: i*i for i in range(1,N+1)}
print(D)

donner un entier:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Question 5: 

Write a program to sort a tuple by its float element.
For example list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [74]:
#Question 5 
tuple = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(tuple, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]